body {
  color: rgb(65,75,86);
  font-family: arial, helvetica, georgia;
  margin: 0px;
}

header,
section {
  min-height:50vh;
  width: 100vw;
}

h1 {
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
  color: rgb(112,41,99);
  font-size: 5em;
}

h2 {
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
  color: rgb(112,41,99);
  font-size: 3em;
}

h5 {
  text-align: center;
}

img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
}

.col-sm img {
  border: 2px solid;
  border-radius: 20px;
  padding: 0;
}

p {
  font-family: 'Handlee', cursive;
  text-align: center;
  margin: 10vh 10vw;
  font-size: 1.5em;
}

section {
  background: rgba(161,202,241,0.25);
  color: rgb(0,0,0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  border: 10px;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

button {
  color: purple;
  display: flex;
  padding: 10px;
  margin: 0 auto;
}

.btn-primary {
  color: white;
  background-color: teal;
}

.btn-secondary {
  color: white;
  background-color: darkslateblue;
  border-color: white;
  display: flex;
}

/*CSS for Carousl*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}
